.list-group {
	text-align: left;
	text-shadow: none;
}

.panel {
	text-shadow: none;
	color: black;
}

.panel a {
	color: blue;
}

.list-group {
	background-color: red;
	
}

.color-grey {
	color: #999;
}