/* 
=============================
  F O N T S
=============================
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1.name {
  font-weight: 300;
  font-size: 5em;
}

h2 {
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
}



/* 
=============================
  C O L O R S
=============================
*/

body {
  color: #3C4A4D;
}

a {
  color: #3C4A4D;
}

.container-color-1{
  background: #30C9E9;
  color: #eee;
}


.jumbo-background {
  background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
   url("../img/ferris.jpg");
  background-position: left bottom;
  color: #ccc;
  background-size: cover;
}

/*.jumbo-background {
  background-color: #30C9E9;
  color: #eee;
}*/

.color-alt-one {
  background-color: #F8F8FA;
}

.color-alt-two {
  background-color: #FFF;
}

.color-alt-three {
  background-color:;
}

.contact a {
  color: white;
}

.contact a:hover {
  color: #3C4A4D;
}

.link-pop {
 color: #FF4330; 
}



.no-link a{
  color: inherit;
}

.text-color-light {
  color: #30C9E9;
}

.footer-bg-color {
  background-color: #3C4A4D;
  color: #999;
}

.footer-bg-color a {
  color: #FF4330;
}


/* 
=============================
  L A Y O U T
=============================
*/

img {
  width: 100%;
  box-shadow: 0 0 20px #ccc;
}

h1.name {
  line-height: 1.6em;
}


ul {
  list-style: none;
  padding: 0;
}

.name {
  text-transform: uppercase;
}

.contact a {
  font-size: .8em;
  padding: 0 5px;
}

.jumbo-buffer {
  padding: 150px 0;
  margin: 0;
}

.icons {
  margin: 40px 0 40px;
}

.icons a {
  margin: 0 0px;
}

.project-container-outer {
  padding: 60px 50px;
}

.project-container {
  padding: 0 0px;
}

.skills {
  display: inline-block;
  padding: 0;
}

.skills li {
  display: inline-block;
  font-weight: 700;
  text-decoration: underline;
  padding: 0;
  margin: 0 5px;
}

.projects {
  margin: 0;
  padding: 0;
}

.ico {
  height: 64px;
  padding: 0 20px;
}

.resume {
  margin: 40px 0 0;
}

.resume a {
  font-size: 1em;
}

.sub-skill {
  opacity: .5;
}

.top-buffer{
  padding-top: 40px;
  padding-bottom: 40px;
}
