
body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {

  margin-top: 50px;
}

h1 {
  margin: 20px 0 10px;
  font-size: 3em;
}

.name {
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}

hr {
  margin: 15px 0 10px;
}

.contact a {
  font-size: .8em;
  padding: 0 5px;
  color: black;
}

.icons {
  padding: 20px 0 10px;
}

.icons a {
  margin: 0 5px;
}

.subtitle {
  padding: 10px 0;
}

h3 {
  color: #e59100;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
}

.html,
.css,
.js,
.jquery,
.wordpress,
.bootstrap,
.git,
.mysql,
.photoshop,
.illustrator,
.sass,
.sublime,
.terminal {
  padding: 0 5px;
  margin: 0 2px;
  font-size: .9em;
}

.html {
  background-color: #edb9a3;
}

.css {
  background-color: #a2c8d8;
}

.sass {
  background-color: #d374a2;
}

.js {
  background-color: #fcefb8;
}

.jquery {
  background-color: #adc5d6;
}

.wordpress {
  background-color: #a9b9bc;
}

.bootstrap {
  background-color: #b5acc4;
}

.git {
  background-color: #ef8973;
}

.mysql {
  background-color: #a7bcc9;
}

.photoshop {
  background-color: #9dbae0;
}

.illustrator {
  background-color: #ffd6c4;
}

.sublime {
  background-color: #dddddd;
}

.terminal {
  background-color: #99cc99;
}

.responsive-d {
  background-color: #99cc99;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.resume {
  margin: 40px 0 0;
}

.divcontent {
  padding: 15px 0;
}

.summary {
color: #888;
}

.border {
  border: 1px solid #ccc;
  padding: 20px 0;
}

.border h3 {
  margin: 0;
}


.footer {
  margin-top: 50px;
  padding: 20px 0px;
  border-top: 1px solid #eee;
  font-size: .8em;
  color: #888;
}