/*------------------------------------------------------

			Colors CSS

--------------------------------------------------------*/

a {
	color: #47547f;
}

header {
	border-bottom-color: #19181B;
	background-color: #6a7082;
	background: linear-gradient(to top, #6a7082, #4C4B5E);
}

h3 {
	color: #777;
	font-weight: normal;
}

header h1, header h2 {
	text-shadow: 1px 1px 3px #444;
	color: #eee;
	opacity: 0.8;
}

header ul {
	color: white;
}

header a {
	opacity: 0.7;
	color: #eee;
	border-color: transparent;
}

header a:hover {
	opacity: 1;
}

.projects-container {
	border-top-color: #3A3341;
	background-color: #D4D7DB;
}

.projects h2 {
	text-shadow: 1px 1px 2px #555;
}

.projects h4 {
	border-left-color: #9C93AB;
}

/*projects img border*/
.preview {
	border-color: #9C93AB;
}

.sidebar-boxes h3 {
	text-shadow: 2px 2px 2px white;	
}

.sidebar {
	background-color: #fff;
	border-top-color: #4C4B5E;
}

.content {
	background-color: rgba(255,255,255, 0.8);
	border-color: #eee;
}

.content p{
	color: #666;
}

/*---------- h3 Colors ---------------- */
.colorset-one {
	background-color: rgba(195, 207, 222, 0.2);
	border-left: 10px solid rgba(0, 8, 136, 0.2);
	color: #3E6087;
}

.blue {
	background-color: #7892AF;
	border-left: 10px solid #35324F;
	color: #fff;
}



/*---------- progress bar % ---------------- */

/* outside */
.progress-bar {
	background: linear-gradient(to bottom, #c7cdd6, #d5dce5);
	box-shadow: inset 2px 2px 5px #aaa;
	border-color: #ccc;
}

/* inside */
.html, .css, .javascript, .php, .bootstrap, .wordpress {
	box-shadow: inset 0px 0px 2px #666;
	background: linear-gradient(to bottom, #31AEDC, #31AEDC);
}




