a {
	color: #5b356b;
}

header {
	border-bottom: 5px solid #999;
	background-color: #eee;
	background: linear-gradient(to top, #bdd8bc, transparent),
				url('img/subtle_stripes.png');
}

header p {
	color: #fff;
}

header h1, h2 {
	text-shadow: 2px 2px 3px white;
}

header ul {
	color: white;
}

header a {
	color: #555;
	border: 1px solid transparent;
}

header a:hover {
	color: #000;
	border: 1px solid #555;
}

.projects-container {
	box-shadow: 0px 4px 4px #F6EFE1;
	border-top: 10px solid #CAD5D5;
	background-color: #FFF8F2;
}

.sidebar-boxes h3, .projects h2 {
	box-shadow: 0px 4px 4px #cfc4ae;
	text-shadow: 1px 1px 2px white;
}

.sidebar {
	background-color: #FEFFF5;
	border-top: 10px solid #CAD5D5;
}

.content {
	background-color: rgba(255,255,255, 0.8);
	border: 1px dashed #eee;
}

.content p{
	color: #979797;
}

.progress-bar {
	background-color: darkgrey;
	box-shadow: inset 2px 2px 5px #808080;
}



/*---------- h3 Colors ---------------- */
.pink {
	background-color: #D5B9C9;
	border-left: 20px solid #888;
	color: #9F6187;
}

.yellow {
	background-color: #FDDCDD;
	border-left: 20px solid #EAB2B3;
	color: #C67A7C;
}

.blue {
	background-color: #BDD8BC;
	border-left: 20px solid #6D908D;
	color: #4A7A78;
}



/*---------- progress bar % ---------------- */

.html, .css, .javascript, .php, .bootstrap, .wordpress {
	box-shadow: inset 0px 0px 5px #000;
	background-color: #9bf7c6;
}




