/*------------------------------------------------------

			Responsive CSS

--------------------------------------------------------*/

@media (max-width: 640px) {



/*---------- Header ---------------- */

header ul, header h1, header h2{
	text-align: center;
}

header ul li{
	list-style: none;
	display: block;
	border-bottom: 1px solid rgb(91, 95, 109);
}

header h1, header h2 {
	padding-left: 0%;
	display: block;
}

header {
	margin-bottom: 0;
	padding: 0;
}

.logo, header ul {
	float: none;
}

.logo {
	padding-left: 0%;
	width: 100%;
}

header ul {
	padding: 0;
	margin-bottom: 0;
}

header a:hover {
	border: 1px solid transparent;
}

header a {
	display: block;
	padding: 10px;
}


/*---------- Wrap ---------------- */
#wrap {
	width: 100%;
}


/*---------- PROJECTS ---------------- */

.projects, .sidebar{
	clear: both;
	width: 100%;

}

.projects {
	padding-right: 0;
}

.projects h2 {
	text-align: center;
}

.projects iframe {
	display: none;
}

.embed {
	padding-bottom: 0;
	text-align: center;
	border: 0;
}

.embed a {
	display: block;
	background-color: #eee;
	padding: 10px 0;
}

.embed a:hover {
	background-color: #ccc;
}


/*---------- SIDEBAR ---------------- */

.sidebar {
	border-top: 0;
}

.sidebar-boxes {
	width: 100%; 
	float: none;
	text-align: center;
}

.heading-block {
	font-size: 1.5em;
}

.forced-width { 
	text-align: left;
}


/*---------- Catergory Titles ---------------- */

.heading-block {
	text-align: center;
}



}





