@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
}

h2 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #5b356b;
}

/*------- Header Banner --------*/

header {
	width: 100%;
	height: 200px;
	border-bottom: 5px solid #999;
	background-color: #eee;
	background: linear-gradient(to top, #bdd8bc, transparent),
				url('img/subtle_stripes.png');
	padding: 10px;
	margin-bottom: 50px;
	box-sizing: border-box;
}

header h1, header h2, header p {
	padding-left: 10%;

}

header h1 {
	margin: 0;
	font-size: 3em;
	text-transform: uppercase;
}

header p {
	margin-top: 8%;
	color: #fff;
	opacity: .7;
}



/*------- Top Header Navigation --------*/
header h1, header h2 {
	text-align: left;
	font-family: 'Poiret One', cursive;
	opacity: .9;

}

header h1, h2 {
	text-shadow: 2px 2px 3px white;
}



/*------- Top Header Navigation --------*/

header ul {
	color: white;
	padding: 15px 15px 0 0;
	margin-top: 0;
	text-align: right;
}
 
header ul li{
	list-style: none;
	display: inline;
	padding: 3px;
}

header a {
	text-transform: uppercase;
	padding: 5px;
	text-decoration: none;
	color: #555;
	opacity: 1;
	border: 1px solid transparent;
	transition: color 1s, border 1s;
}

header a:hover {
	color: #000;
	border: 1px solid #555;
}

#wrap {
	width: 80%;
	margin: 0 auto;
}



/*---------- Projects ---------------- */

.projects {
	float: left;
	width: 70%;
	padding: 0% 5% 0 0;
}

.projects-container {
	padding: 10px;
	box-shadow: 0px 4px 4px #F6EFE1;
	border-top: 10px solid #CAD5D5;
	background-color: #FFF8F2;
	margin-bottom: 10px;
}

.projects h2 {
	margin-bottom: 10px;
}

.embed {
	padding-bottom: 35px;
}

iframe {
	border: 0;
}


/*---------- SIDEBAR ---------------- */

.sidebar-boxes h3, .projects h2 {
	padding: 5px 5px;
	font-weight: 200;
	margin-top: 0;
	box-shadow: 0px 4px 4px #cfc4ae;
	text-shadow: 1px 1px 2px white;
}

.sidebar {
	float: right;
	width: 30%;
	background-color: #FEFFF5;
	padding: 20px 10px 10px 10px;
	border-top: 10px solid #CAD5D5;
}

.sidebar a {
	opacity: 0.5;
	transition: opacity .5s;
}

.sidebar a:hover {
	opacity: 1;
}

.sidebar-boxes {
	padding-bottom: 10px;
}

.sidebar-boxes ul{
	margin: 1em 0;
	padding: 0;
	list-style: none;
}

.sidebar-boxes li {
	margin-top: 10px;
}

.content {
	padding: 0 10px;
	background-color: rgba(255,255,255, 0.8);
	border: 1px dashed #eee;
}

.content h2 {
	font-size:1.9em;
}

.content p{
	color: #979797;
}

.status {
	width: 100%;
	box-sizing: border-box;
}

.progress-bar {
	display: inline-block;
	width: 50%;
	height: 15px;
	background-color: darkgrey;
	box-shadow: inset 2px 2px 5px #808080;
}


.forced-width { 
	width: 40%;
	display: inline-block;
	padding-bottom: 10px;
}

.sub-text{
	font-size: .85em;
	font-weight: bold;
}

.footer {
	text-align: center;
	padding: 20px;
	opacity: .7;
	margin: 0;
}

.footer a:hover {
	font-weight: bold;
}

.clear {
	clear: both;
}



/*---------- h3 Colors ---------------- */
.pink {
	background-color: #D5B9C9;
	border-left: 20px solid #888;
	color: #9F6187;
}

.yellow {
	background-color: #FDDCDD;
	border-left: 20px solid #EAB2B3;
	color: #C67A7C;
}

.blue {
	background-color: #BDD8BC;
	border-left: 20px solid #6D908D;
	color: #4A7A78;
}



/*---------- progress bar % ---------------- */

.progress-bar, .html, .css, .javascript, .php, .bootstrap, .wordpress {
	border-radius: 5px;	
}

.html {
	background-color: #9bf7c6;
	box-shadow: inset 0px 0px 5px #000;
	width: 80%;
	height: 100%;
}

.css {
	background-color: #9bf7c6;
	box-shadow: inset 0px 0px 5px #000;
	width: 80%;
	height: 100%;
}

.javascript {
	background-color: #9bf7c6;
	box-shadow: inset 0px 0px 5px #000;
	width: 40%;
	height: 100%;
}

.php {
	background-color: #9bf7c6;
	box-shadow: inset 0px 0px 5px #000;
	width: 20%;
	height: 100%;
}

.wordpress {
	background-color: #9bf7c6;
	box-shadow: inset 0px 0px 5px #000;
	width: 20%;
	height: 100%;
}

.bootstrap {
	background-color: #9bf7c6;
	box-shadow: inset 0px 0px 5px #000;
	width: 20%;
	height: 100%;
}



/*---------- Border Box ---------------- */

.sidebar, .projects {
	box-sizing: border-box;
}




/*------------------------------------------------------

			Responsive CSS

--------------------------------------------------------*/

@media (max-width: 640px) {



/*---------- Header ---------------- */

header ul, header h1, header h2{
	text-align: center;
}

header ul li{
	list-style: none;
	display: inline;
}

header h1, header h2, header p {
	padding-left: 0%;

}

header {
	margin-bottom: 0;
}



/*---------- Wrap ---------------- */
#wrap {
	width: 100%;
}


/*---------- PROJECTS ---------------- */

.projects, .sidebar{
	clear: both;
	width: 100%;

}

.projects {
	padding-right: 0;
}

.projects h2 {
	text-align: center;
}

.projects iframe {
	display: none;
}

.embed {
	padding-bottom: 0;
	text-align: center;
}

.embed a {
	display: block;
	background-color: #eee;
	padding: 10px 0;
}

/*---------- Footer ---------------- */

.sidebar-boxes {
	width: 100%; 
	float: none;
	text-align: center;
}

.sidebar-boxes h3 {
	font-size: 1.5em;
}

.forced-width { 
	text-align: left;
}

}





