body {
 	font-family: 'Josefin Sans', sans-serif;
 	background-color: black;
 	color: #A4A4A4; 
 	margin: 0;	
 }

 #container {

 }

#social {
	right:0;
  	position:fixed;
  	padding: 10px 10px 0 0;
}

#social img {
	padding-left: 3px;
}

 #header {
 	width: 100%;
 	height: 105px;


 }

 .fixedwidth{
 	width:900px;
 	margin: 0 auto;

 }

 #logo {
 	float: left;
 	padding-right: 30px;
 	margin-top: 6px;
 }

 #logo h1{
 	margin: 0;
 }

 #logo p {
 	margin-top: 5px;
 	font-size: .9em;
 }

 #logo img {
 	margin-top:30px;
 }

 #menu {
 	float: right;
 	margin-top:30px;
 }

 #content {
 	width:100%;


 }

 #content img {
 }


 #menu a {
 	text-decoration: none;
 	color:;
 }

 .center {
 	text-align: center;
 }

 .bold {
 	font-weight: bold;
 	color: #D8D8D8;
 }

  .links {
 	text-align: center;
 }

 .links a {
 	padding-right: 5px;
 }

 .copyright {
 	text-align: center;
 	color:#6E6E6E;
 	font-size: .9em;
 }