/*------------------------------------------------------

			Main CSS

--------------------------------------------------------*/


@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700);

body {
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
}

h2 {
	margin: 0;
}

a {
	text-decoration: none;
}

/*------- Header Banner --------*/

header {
	width: 100%;
	padding: 20px 10px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	box-sizing: border-box;
}

header h1, header h2 {
	font-family: 'Poiret One', sans-serif;
}

header h1 {
	margin: 0;
	font-size: 2.2em;
	text-transform: uppercase;
}

.logo {
	float: left;
	padding-left: 5%;
	width: 30%;
}


/*------- Top Header Navigation --------*/

header ul {
	padding-top: 10px;
	text-align: right;
	float: left;
}
 
header ul li{
	list-style: none;
	display: inline;
	padding: 3px;
}

header a {
	text-transform: uppercase;
	padding: 5px;
	text-decoration: none;
}

header a:hover {

}


/*---------- Projects ---------------- */

.projects {
	float: right;
	width: 70%;
}

.projects-container {
	padding: 20px 10px 10px 10px;
	margin-bottom: 10px;
	border-top-width: 10px;
	border-top-style: solid;
}

.projects h3 {
	margin-bottom: 10px;
}

.projects h4 {
	font-weight: normal;
	border-left-width: 10px;
	border-left-style: solid;
	padding-left: 5px;
}

.embed {
	padding-bottom: 35px;
	border-bottom: 1px dashed #ccc;
}


iframe {
	border: 0;
}

.preview {
	width: 100%;
}



/*---------- SIDEBAR ---------------- */

.sidebar {
	float: left;
	width: 30%;
	padding: 20px 10px 10px 10px;
	border-top-width: 10px;
	border-top-style: solid;
}

.sidebar a {
	opacity: 0.8;
	transition: opacity .5s;
}

.sidebar a:hover {
	opacity: 1;
}

/* the title for each catergory */
.heading-block {
	padding: 3px;
	font-weight: 200;
	margin: 0;
}

/* sidebar-boxes is the parent and holds each category in the sidebar */
.sidebar-boxes {
	padding-bottom: 10px;
}

.sidebar-boxes ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-boxes li {
	margin-bottom: 10px;
}

/* content holds everything inside a sidebar-box */

.content {
	padding: 10px 10px 0px 10px;
	border-width: 1px;
	border-style: dashed;
	font-size: .9em;
}



/*---------- FOOTER ---------------- */

.footer {
	text-align: center;
	font-size: 0.8em;
	font-family: sans-serif;
	padding: 20px;
}

.footer a {
	text-decoration: underline;
}

.clear {
	clear: both;
}



/*-------------------------------------------- */
/*------------ progress bar % ---------------- */
/*-------------------------------------------- */

.forced-width { 
	width: 30%;
	display: inline-block;
	padding-bottom: 10px;
	padding-right: 10px;
}

.status {
	width: 100%;
	box-sizing: border-box;
}

.progress-bar {
	display: inline-block;
	width: 50%;
	height: 5px;
	border-width: 1px;
	border-style: solid;
}

.progress-bar, .html, .css, .javascript, .php, .bootstrap, .wordpress {
	border-radius: 100px;	
}

.html, .css, .javascript, .php, .bootstrap, .wordpress {
	height: 100%;
}

.html {
	width: 80%;
}

.css {
	width: 80%;
}

.javascript {
	width: 40%;
}

.php {
	width: 20%;
}

.wordpress {
	width: 20%;
}

.bootstrap {
	width: 20%;
}



/*---------- Border Box ---------------- */

.sidebar, .projects {
	box-sizing: border-box;
}


/*-------------------------------------------- */
/*---------- Pokemon Name Gen ---------------- */
/*-------------------------------------------- */

button {
  background: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  width: 100%;
  padding: 40px 0;
  margin: -40px -20px;
  outline: none;
  cursor: pointer;
  font-family: 'Inconsolata', ;
}

#question {
  background: white;
  color: blue;
  width: 100%;
  margin: 0 auto 20px;
  border-radius: 5px;
  padding: 30px 0px;
  text-align: center;
  font-size: 1.8em;
  font-family: 'Inconsolata', ;
}

.spoiler {
	background: #1d3c6a;
  width: 50%;
  margin: 0 auto 20px;
  border-radius: 5px;
  padding: 40px 0px;
  text-align: center;
  font-size: 24px;
}
.spoiler span {
  color: #dae1e4;
  font-family: 'Inconsolata', ;
}



